﻿@using HtmlParse.Models
@model List<Eczane>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table border="1">
            <tr>
                <td>İlçe</td>
                <td>Eczane</td>
                <td>Adresi</td>
                <td>Telefonu</td>
            </tr>
            @foreach (var item in Model)
            {

        
            <tr>
                <td>@item.Ilce</td>
                <td>@item.Ad</td>
                <td>@item.Adres</td>
                <td>@item.Telefon</td>
            </tr>
            }
        </table>
      
    </div>
</body>
</html>
